# Note: later rules override earlier rules.

# Default
#                                  Martin  Sara
*                                  @mkoura @saratomaz

# Cardano Node Testing Team

doc                                @mkoura @saratomaz @ArturWieczorek
src_docs                           @mkoura @saratomaz @ArturWieczorek
cabal_build_tests                  @ArturWieczorek
cardano_node_tests/utils/dbsync_*  @mkoura @saratomaz @ArturWieczorek


# CICD

.github/workflows/db_sync_*        @ArturWieczorek
.github/workflows/node_sync_*      @ArturWieczorek
.github/workflows/smash_*          @ArturWieczorek

.buildkite/db_sync_*               @ArturWieczorek
.buildkite/node_sync_*             @ArturWieczorek


# MOOG/Antithesis

antithesis: @saratomaz
