exclude: ^(sync_tests/|cardano_node_tests/tests/data/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    language_version: python3
    exclude_types: [html]
  - id: end-of-file-fixer
    language_version: python3
    exclude_types: [html]
  - id: check-yaml
    language_version: python3
  - id: debug-statements
    language_version: python3
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.14.8
  hooks:
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
  - id: shellcheck
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint
- repo: https://github.com/rstcheck/rstcheck
  rev: v6.2.5
  hooks:
  - id: rstcheck
    additional_dependencies: [sphinx, toml]
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy
    language: system
    types: [python]
  - id: pyright
    name: pyright
    entry: pyright
    language: system
    types: [python]
