[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 100

[tool.isort]
force_single_line = true

[tool.ruff]
line-length = 100
select = ["ARG", "B", "C4", "C90", "D", "E", "F", "ISC", "N", "PT", "Q", "SIM", "W", "PTH", "PLC", "PLE", "PLR", "PLW", "RUF", "U"]
ignore = ["B905", "PT001", "PT004", "PT007", "PT012", "PT018", "PT023", "D10", "D203", "D212", "D213", "D214", "D215", "D404", "D405", "D406", "D407", "D408", "D409", "D410", "D411", "D413", "PLR0912", "PLR0913", "PLR0915", "PLR2004", "UP035", "UP006", "UP007", "PTH123"]

[tool.ruff.per-file-ignores]
"cardano_node_tests/utils/model_ekg.py" = ["N815"]
