-e .

# linting
mypy
pre-commit
pylint

# documentation
Sphinx==3.2.1
m2r2
numpydoc
sphinx_rtd_theme

# install
allure-pytest
cardano-clusterlib
cbor2
filelock
hypothesis
psycopg2-binary
pydantic
pytest
pytest-html
pytest-metadata
pytest-ordering
pytest-xdist
requests
setuptools>=21.0.0
