allure-pytest==2.12.0
allure-python-commons==2.12.0
attrs==22.2.0
cardano-clusterlib==0.4.0rc2
cbor2==5.4.6
certifi==2022.12.7
charset-normalizer==3.0.1
exceptiongroup==1.1.0
execnet==1.9.0
filelock==3.9.0
hypothesis==6.62.1
idna==3.4
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
psycopg2-binary==2.9.5
py==1.11.0
pydantic==1.10.4
pytest==7.1.2
pytest-forked==1.4.0
pytest-html==3.2.0
pytest-metadata==2.0.4
pytest-order==1.0.1
pytest-select==0.1.2
pytest-xdist==2.5.0
PyYAML==6.0
requests==2.28.2
six==1.16.0
sortedcontainers==2.4.0
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.14
