[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
requests = "*"
furl = "*"
pytest = "*"
assertpy = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
