name: Code checks

on:
  pull_request:
    branches:
    - master

env:
  PY_COLORS: "1"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Set up python
      id: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Load cached venv
      id: cached-uv-dependencies
      uses: actions/cache@v5
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('uv.lock') }}
    - name: Install project
      run: uv sync --group dev
    - name: Load cached pre-commit env
      id: cached-pre-commit
      uses: actions/cache@v5
      with:
        path: ~/.cache/pre-commit
        key: pre-commit-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Install pre-commit hooks
      run: |
        mkdir -p ~/.cache/pre-commit
        true > ~/.cache/pre-commit/pre-commit.log
        uv run pre-commit install-hooks --color=always
        retval="$?"
        if [ "$retval" -ne 0 ]; then
          cat ~/.cache/pre-commit/pre-commit.log
        fi
        exit "$retval"
    - name: Run pre-commit linters
      run: uv run pre-commit run -a --show-diff-on-failure --color=always
    - name: Run framework tests
      run: uv run pytest --doctest-modules framework_tests cardano_node_tests/utils/
