name: Regression tests reusable

on:
  workflow_call:
    inputs:
      env-path:
        required: false
        type: string
        default: ""
      node_rev:
        required: false
        type: string
        default: ""
      cli_rev:
        required: false
        type: string
        default: ""
      dbsync_rev:
        required: false
        type: string
        default: ""
      cluster_era:
        required: false
        type: string
        default: ""
      markexpr:
        required: false
        type: string
        default: ""
      utxo_backend:
        required: false
        type: string
        default: ""
      allow_unstable_error_msgs:
        required: false
        type: boolean
        default: false
      byron_cluster:
        required: false
        type: boolean
        default: false
      testrun_name:
        required: false
        type: string
        default: ""
      skip_passed:
        required: false
        type: boolean
        default: false
    secrets:
      GH_TOKEN:
        required: true
      TCACHE_BASIC_AUTH:
        required: false
      TCACHE_URL:
        required: false
      CI_FAIL_MAILS:
        required: false
      GMAIL_USERNAME:
        required: false
      GMAIL_PASSWORD:
        required: false

env:
  CI_FAIL_MAILS: ${{ secrets.CI_FAIL_MAILS }}

jobs:
  reusable_run:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@v9
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GH_TOKEN }}
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo=
            substituters = https://cache.nixos.org https://cache.iog.io https://iohk.cachix.org
            allow-import-from-derivation = true
      - name: Collect env variables
        run: |
          : > .github_ci_env
          echo "PY_COLORS=1" >> .github_ci_env
          echo "NODE_REV=${{ inputs.node_rev }}" >> .github_ci_env
          echo "CARDANO_CLI_REV=${{ inputs.cli_rev }}" >> .github_ci_env
          echo "DBSYNC_REV=${{ inputs.dbsync_rev }}" >> .github_ci_env
          echo "CLUSTER_ERA=${{ inputs.cluster_era }}" >> .github_ci_env
          echo "MARKEXPR=${{ inputs.markexpr }}" >> .github_ci_env
          echo "UTXO_BACKEND=${{ inputs.utxo_backend }}" >> .github_ci_env
          echo "ALLOW_UNSTABLE_ERROR_MESSAGES=${{ inputs.allow_unstable_error_msgs }}" >> .github_ci_env
          echo "CI_BYRON_CLUSTER=${{ inputs.byron_cluster }}" >> .github_ci_env
          echo "CI_TESTRUN_NAME=${{ inputs.testrun_name }}" >> .github_ci_env
          echo "CI_SKIP_PASSED=${{ inputs.skip_passed }}" >> .github_ci_env
          if [ -e "${{ inputs.env-path }}" ]; then cat "${{ inputs.env-path }}" >> .github_ci_env; fi
      - name: Export env variables
        run: |
          cat .github_ci_env
          cat .github_ci_env >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV
      - name: Get previous test results
        if: inputs.testrun_name && inputs.skip_passed
        run: |
          if [ -n "${{ secrets.TCACHE_BASIC_AUTH }}" ] && [ -n "${{ secrets.TCACHE_URL }}" ]; then
            testrun_name_strip="$(echo "${{ inputs.testrun_name }}" | sed 's/[^a-zA-Z0-9_-]//g')"
            curl -s -u ${{ secrets.TCACHE_BASIC_AUTH }} "${{ secrets.TCACHE_URL }}/${testrun_name_strip}/pypassed" > deselected_tests.txt
            echo "DESELECT_FROM_FILE=deselected_tests.txt" >> $GITHUB_ENV
          fi
      - name: ▶️ Run Regression Tests
        id: testing-step
        run: |
          # env
          echo "::group::Script setup"
          .github/regression.sh
          echo "::endgroup::"
      - name: Report test results
        if: (success() || failure()) && inputs.testrun_name
        run: |
          if [ -n "${{ secrets.TCACHE_BASIC_AUTH }}" ] && [ -n "${{ secrets.TCACHE_URL }}" ] && [ -e testrun-report.xml ]; then
            testrun_name_strip="$(echo "${{ inputs.testrun_name }}" | sed 's/[^a-zA-Z0-9_-]//g')"
            curl -s -X PUT --fail-with-body -u ${{ secrets.TCACHE_BASIC_AUTH }} "${{ secrets.TCACHE_URL }}/${testrun_name_strip}/${{ github.run_number }}/import" -F "junitxml=@testrun-report.xml"
          fi
      - name: ↟ Upload testing artifacts on failure
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: testing-artifacts
          path: testing_artifacts.tar.xz
      - name: ↟ Upload Allure results
        uses: actions/upload-artifact@v6
        # When using `always()`, you lose ability to manually cancel the workflow.
        # Use `success() || failure()` instead.
        if: success() || failure()
        with:
          name: allure-results
          path: allure-results.tar.xz
      - name: ↟ Upload HTML report
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: testrun-report
          path: testrun-report.html
      - name: ↟ Upload testrun files
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: testrun-files
          path: |
            scheduling.log
            errors_all.log
            testrun-report.xml
            deselected_tests.txt
            requirements_coverage.json
            monitor.log
      - name: ↟ Upload CLI coverage
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: cli-coverage
          path: cli_coverage.json
      - name: ✉ Mail failure report
        uses: dawidd6/action-send-mail@v8
        if: (success() || failure()) && steps.testing-step.outcome != 'success' && env.CI_FAIL_MAILS && github.event_name == 'schedule'
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{secrets.GMAIL_USERNAME}}
          password: ${{secrets.GMAIL_PASSWORD}}
          subject: "Status: ${{ steps.testing-step.outcome }}; workflow: ${{ github.workflow }}"
          to: ${{secrets.CI_FAIL_MAILS}}
          from: Cardano GitHub Actions
          body: "Run URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          reply_to: noreply@github.com
          attachments: testrun-report.html
