name: repo_lint

on:
  pull_request:
    branches:
    - master

env:
  PY_COLORS: "1"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: make install
    - name: Run lint
      run: make lint || { git diff; false; }
